{% extends 'blog/base.html' %}
    {% block content %}
          {% for p in pubs %}
        <div class="post">
          <div class="date">
        <p> publicado: {{ p.fecha_publicacion }} </p>
        </div>
        <a class="btn btn-default" href="{% url 'editar_pub' pk=p.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1><a href="{% url 'detalle_pub' pk=p.pk %}">{{ p.titulo }}</a></h1
        <p>{{ p.texto|linebreaksbr }} </p>
        </div>
    {% endfor %}
  {% endblock %}
